---
import "@/styles/global.css";
import Seo from "@/components/seo/Seo.astro";
type Props = PageSEO;
---

<!doctype html>
<html lang={Astro.currentLocale}>
	<head>
		<Seo {...Astro.props} />
	</head>
	<body>
		<slot />
	</body>
</html>
