---
import "@/styles/global.css";
import Seo from "@/components/seo/Seo.astro";
type Props = PageSEO;
---

<!doctype html>
<html lang={Astro.currentLocale}>
	<head>
		<Seo {...Astro.props} />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<slot name="head-end" />
	</head>
	<body>
		<slot name="body-start" />
		<a
			href="#MainContent"
			class="absolute top-0 left-0 z-[-9999] m-1 rounded bg-white p-2 font-semibold text-black transition-all duration-300 focus:z-[9999]"
			>Saltar a contenido</a
		>
		<main id="MainContent" role="main" tabindex="-1">
			<slot />
		</main>
		<slot name="body-end" />
	</body>
</html>
